EAM_A
{
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    /*height: 100vh;*/
    font-size: 12px;
    background: #f4f4f4;
}
ul, li
{
    list-style: none;
}
table
{
    width: 1350px;
    border: 1px solid #bdc1cc;
}
th
{
    width: 212px;
    height: 29px;
    background-color: #dde4ee;
    font-size: 18px;
    border: 1px solid rgb(213, 213, 213);
}
td
{
    width: 212px;
    height: 40px;
    background: #fff;
    font-size: 16px;
    border: 1px solid rgb(213, 213, 213);
}
/*iframe*/
.EAM_I_Iframe
{
    position: absolute;
}
.EAM_I_Iframe_Cent
{
    width: 100%;
    height: 100%;
    border: 0;
}
.EAM_A_AddIcon
{
    float: left;
    color: red;
    font-size: 20px;
    margin: 12px;
}
#EAM_A_Container
{
    position: relative;
}
#EAM_A_Content
{
    height: auto;
    margin: 35px 0 0 70px;
}
#EAM_A_Header
{
    width: 100%;
    height: 15px;
}
.EAM_A_Nav
{
    padding: 5px 0 5px 2px;
    font-size: 22px;
    color: #333333;
    cursor: pointer;
    float: left;
    margin-left: -2%;
    margin-top: -0.9%;
}
.EAM_A_batchNav
{
    font-size: 20px;
    color: #333333;
    cursor: pointer;
    float: right;
}
.EAM_A_Button_Application
{
    width: 80px;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    background: #ff6656;
    font-size: 18px;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-bottom: 82px;
    margin-top: -2.2%;
    position: relative;
    left: -2%;
    top: 36px;
}
#EAM_A_Table
{
    width: 100%;
    clear: both;
    font-size: 16px;
    color: #333333;
    text-align: center;
    top: -37px;
    position: relative;
}
/*
批次管理样式
*/
.EAM_A_BatchManage
{
    cursor: pointer;
    background: #fff;
    width: 75px;
    height: 30px;
    border: none;
    font-size: 16px;
    margin-right: 27px;
}
.EAM_A_DeleteBatch
{
    cursor: pointer;
    width: 36px;
    height: 20px;
    background: #fff;
    border: none;
    font-size: 16px;
}
.EAM_A_batchContent
{
    width: 81.5%;
    height: auto;
    margin-left: 4.2%;
    border: 1px solid #CDCDCD;
    float: left;
}
.EAM_A_batchContenthead
{
    width: 100%;
    height: auto;
}
.EAM_A_batchHead
{
    width: calc(25% - 1px);
    height: 50px;
    background-color: #EEEEEE;
    text-align: center;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    font-size: 18px;
    font-weight: bold;
}
.EAM_A_batchContentbody
{
    width: 100%;
    height: auto;
}
.EAM_A_batchOperation
{
    width: calc(25.13% - 1px);
    height: 49px;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #cdcdcd;
}
.EAM_A_batchType
{
    width: calc(24.98% - 1px);
    height: 49px;
    text-align: center;
    line-height: 50px;
    float: left;
    border-right: 1px solid #cdcdcd;
    border-bottom-color: #cdcdcd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
/*
总资产管理样式
*/
.EAM_A_mainContent
{
    width: 92%;
    height: auto;
    margin-left: 4.5%;
    border: 1px solid #CDCDCD;
    float: left;
}
.EAM_A_Contenthead
{
    width: 117%;
    height: auto;
}
.EAM_A_Head
{
    width: calc(14.26% - 1px);
    height: 50px;
    background-color: #EEEEEE;
    text-align: center;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    font-size: 16px;
    font-weight: bold;
}
.EAM_A_Contentbody
{
    width: 100%;
    height: auto;
}
.EAM_A_type
{
    width: calc(16.68% - 1px);
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    border-bottom: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}

.EAM_A_List_batch
{
    cursor: pointer;
    font-size: 17px;
    float: left;
    margin: 13px auto;
    margin-left: 15%;
}
.EAM_A_List_Update
{
    cursor: pointer;
    font-size: 17px;
    float: left;
    margin: 0 auto;
    margin-left: 33%;
}

.EAM_A_List_batchUpdate
{
    cursor: pointer;
    font-size: 17px;
    float: left;
    margin: 0 auto;
    margin-left: 33%;
}
.EAM_A_List_Symbol
{
    float: left;
    margin: 13px;
}
.EAM_A_List_delete
{
    cursor: pointer;
    font-size: 17px;
    float: left;
    margin: 13px auto;
}
.EAM_A_List_batchDelete
{
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    float: left;
    height: 50px;
    margin-left: 5%;
}
.EAM_A_List_Bottom
{
    border-bottom: 1px solid #cdcdcd;
}
.EAM_A_ModifyDetails
{
    width: 100%;
    height: 98%;
    border-radius: 3px;
    background: #ffffff;
    color: #333333;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
}
.EAM_A_ModifyDetails_ClossTips
{
    float: right;
    width: 35px;
    height: 35px;
    font-size: 40px;
    cursor: pointer;
    color: #666666;
}

.EAM_A_ModifyDetails_Label
{
    font-size: 20px;
    text-align: center;
    clear: both;
}
.EAM_A_Box
{
    width: 297px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
}
.EAM_A_ModifyDetails_Details_Div1
{
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_Div2
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_Div3
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_Div4
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_text
{
    width: 180px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
}
.EAM_A_ModifyDetails_Details_Word
{
    font-size: 16px;
    float: left;
}
.EAM_A_ModifyDetails_Button
{
    width: 105px;
    height: 35px;
    border: 1px solid #2fa5ff;
    background: #2fa5ff;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 32px;
    float: left;
    margin-top: 11px;
    margin-left: 88px;
}
#EAM_A_AddDetails
{
    width: 397px;
    height: 387px;
    box-shadow: 1px 2px 1px 1px #969696;
    border-radius: 3px;
    background: #ffffff;
    color: #333333;
    position: absolute;
    left: 35%;
    top: 65px;
    display: none;
}
#EAM_A_AddDetails_ClossTips
{
    float: right;
    width: 35px;
    height: 35px;
    font-size: 40px;
    cursor: pointer;
    color: #666666;
}

#EAM_A_AddDetails_Label
{
    font-size: 20px;
    text-align: center;
    clear: both;
}
#EAM_A_AddDetails_Details
{
    text-align: right;
    margin: 20px auto;
    width: 285px;
}
.EAM_A_AddDetails_Details_Div
{
    margin-top: 35px;
}
.EAM_A_AddDetails_Details_text
{
    width: 45%;
    font-size: 15px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
}
.EAM_A_AddDetails_Details_Word
{
    width: 36%;
    font-size: 18px;
    margin-right: 13px;
    float: left;
    margin-top: 10px;
}
#EAM_A_InsertAssets_Button
{
    width: 135px;
    height: 36px;
    background: #2fa5ff;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0 0 0;
    box-sizing: border-box;
    margin: 40px auto;
    cursor: pointer;
}
/**
* 批次管理-编辑
* 弹窗样式
*/
#EAM_A_AddBatchDetails
{
    width: 397px;
    height: 387px;
    box-shadow: 1px 2px 1px 1px #969696;
    border-radius: 3px;
    background: #ffffff;
    color: #333333;
    position: absolute;
    left: 35%;
    top: 65px;
    display: none;
}
.EAM_A_AddBatchDetails_Details_Div
{
    margin-top: 38px;
}
.EAM_A_AddBatchDetails_Details_text
{
    width: 45%;
    font-size: 15px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
}
.EAM_A_AddBatchDetails_Details_Word
{
    width: 28%;
    font-size: 18px;
    float: left;
    margin-top: 10px;
    margin-left: 14%;
}
#EAM_A_AddBatchDetails_Button
{
    width: 135px;
    height: 36px;
    background: #2fa5ff;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 6px 0 0 0;
    box-sizing: border-box;
    margin: 39px auto;
    cursor: pointer;
}
.EAM_A_ModifyDetails_Details_text1
{
    height: 25px;
    float: left;
    margin-left: 65px;
    width: 52%;
}
.EAM_A_ModifyDetails_Details_text2
{
    height: 25px;
    width: 52%;
    margin-left: 65px;
}
.EAM_A_ModifyDetails_Details_text3
{
    height: 25px;
    float: left;
    width: 52%;
    margin-left: 47px;
}
.EAM_A_ModifyDetails_Details_text4
{
    height: 25px;
    margin-left: 28px;
    width: 52%;
}
.EAM_A_Bottombuttons
{
    float: right;
    width: 96.2%;
    margin-top: 2%;
}
.EAM_A_Pagebutton
{
    width: 40px;
    height: 40px;
    color: #7d7d7d;
    background-color: #FAFAFA;
    border: 1px solid #CDCDCD;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5%;
    float: left;
    text-align: center;
    line-height: 40px;
}
.EAM_A_Pagelength
{
    float: left;
}
.EAM_A_Pagelength div
{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 5px;
    color: Black;
}
.UD_SYFY
{
    height: 35px;
    text-indent: 0;
}
.UD_SYFY .UD_SYFYL div
{
    width: 33px;
    height: 31px;
    border: 1px solid #DADADA;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.UD_SYFY .UD_SYFYL
{
    height: 33px;
    margin-top: 0px;
    float: left;
}
.UD_SYFY .UD_SYFYL .UD_SYFYLOO, .UD_SYFY .UD_SYFYL .UD_SYFYLO
{
    display: none;
}
.UD_SYFY .UD_SYFYL .UD_SYFYLTO, .UD_SYFY .UD_SYFYL .UD_SYFYLT
{
    background-image: url(../Img/s_left.png);
    background-position: 0;
    background-size: cover;
}
.UD_SYFY .UD_SYFYL .UD_SYFYLS, .UD_SYFY .UD_SYFYL .UD_SYFYLSO
{
    background-image: url(../Img/s_right.png);
    background-position: 0;
    background-size: cover;
}
.UD_SYFY .UD_SYFYL .UD_SYFYLF, .UD_SYFY .UD_SYFYL .UD_SYFYLFO
{
    display: none;
}
.UD_SYFY .UD_SYFYL .UD_SYFYN
{
    width: auto;
    margin: 0;
    cursor: inherit;
    border: none;
    padding: 0;
}
.UD_SYFY .UD_SYFYL .UD_SYFYN .UD_SYFYNO
{
    line-height: 33px;
    margin: 0;
    margin-left: 5px;
}
.UD_SYFY .UD_SYFYL .UD_SYFYN .UD_SYFYNO:hover
{
    border-color: #396dcd;
    background-color: #396dcd;
}
.UD_SYFY .UD_SYFYL .UD_SYFYN .UD_SYFYNOO
{
    border-color: #396dcd;
    background-color: #396dcd;
}
.UD_SYFY .UD_SYFYR
{
    border: 0;
    height: 33px;
    float: left;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRL
{
    width: auto;
    height: 35px;
    padding: 0;
    font-size: 14px;
    float: left;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRL span
{
    line-height: 35px;
    float: left;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRL div
{
    width: 57px;
    margin: 0px;
    padding: 0px;
    margin: 0 5px;
    float: left;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRL input
{
    height: 31px;
    width: 57px;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRZ
{
    width: 48px;
    height: 31px;
    margin: 0;
    margin-left: 10px;
    line-height: 31px;
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}
.UD_SYFY .UD_SYFYR .UD_SYFYRR
{
    line-height: 33px;
    font-size: 14px;
    margin-left: 10px;
}
.EAM_A_ModifyDetails_Details_Div5
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_text5
{
    height: 25px;
    margin-left: 65px;
    width: 52%;
    float: left;
}
.EAM_A_ModifyDetails_Details_Div6
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_text6
{
    height: 25px;
    margin-left: 47px;
    width: 52%;
    float: left;
}
.EAM_A_ModifyDetails_Details_Div7
{
    margin-top: 25px;
    width: 100%;
    float: left;
}
.EAM_A_ModifyDetails_Details_text7
{
    height: 25px;
    margin-left: 65px;
    width: 52%;
    float: left;
}
.EAM_A_AddDetails
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    overflow: auto;
}
.EAM_A_AddDetails_Details
{
    width: 77%;
    margin-left: 59px;
}
.EAM_A_AddDetails_Details_text_a
{
    width: 45%;
    font-size: 15px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    margin-left: 16%;
}
table
{
    margin-left: -2%;
}
#