EAM_SF{}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
    background-color:#f0f3f4
}
a{
    text-decoration:none;
    color: #333333;
}
.EAM_SF_div{
    margin: 70px auto;
    width: 100%;
    height:600px;
    min-width: 680px;
}
.EAM_SF_main{
    margin:0 auto;
    width: 100%;
    height:30px;
    padding-bottom: 30px;
}
.EAM_SF_main .EAM_SF_above{
    font-size:20px;
    float:left;
    /* padding-left:20px; */
    width: 55%;
}
.EAM_SF_main span{
    font-size:16px;
} 
.EAM_SF_main .EAM_SF_text1{
    width: 35%;
    height:24px;
    font-size:16px;
    background:none;
    border:1px solid #a0a0a0;
}
.EAM_SF_main .EAM_SF_text2{
    /* margin-left:10px; */
    width: 10%;
    height:28px;
    font-size:16px;
    border-radius:5px;
    color:White;
    background-color:#ff6656;
    border:none;
}    
.EAM_SF_main .EAM_SF_text3{
    margin-left:10px;
    width: 14%;
    height:28px;
    font-size:16px;
    color:Black;
    border:1px solid #a0a0a0;
    border-radius: 8px;
    background:none;
    float:  right;
    margin-right: 3%;
    text-align:  center;
}
.EAM_SF_body{
    margin-top:50px;
    margin: 0 auto;
    width: 100%;
    height:500px;
}
.EAM_SF_mainbody{
    margin:0 auto;
    width: 100%;
}
.EAM_SF_mainbody li{
    list-style:none;
}    
.EAM_SF_mainbody li>ul{
    line-height: 50px;
    width: 100%;
    float:left;
    list-style:none;
    border-bottom:1px solid #d2d2d2;
}
.EAM_SF_mainbody li>ul li{
    list-style:none;
    float:left;
    font-size:16px;
}
.EAM_SF_first{
    padding-left:20px;  
    width:56%;
    height:45px;
    font-family:"微软雅黑";
    font-size:14px;
}
    .EAM_SF_firsts{
    padding-left:20px;
    width:56%;
    height:45px;
    font-family:"微软雅黑";
    font-size: 16px;
    float: left;
}
.EAM_SF_czs{
        font-family:"微软雅黑";
        font-size: 16px;
        float: left;
        margin-left: 17%;
        list-style-type: none;
}
.EAM_SF_last{
    text-align: center;
    width:20%;
    height:45px;
    font-family:"微软雅黑";
    font-size:14px;
    float: left;
    border: 0;
    background: rgb(240,243,244);
}
.EAM_SF_page{
    height:25px;
    width: 460px;
}
.EAM_SF_page{
    color:#999999;
    font-size:13px;
    margin:0 auto;
}
.EAM_SF_page .EAM_SF_button{
    font-size:16px;
    color:Black;
    display:inline-block;
    text-align:center;
    width: 60px;
    height:20px;
    border:1px solid #a0a0a0;
    margin-right:5px;
    margin-left:5px;
    border-radius:5px;
}
.EAM_SF_page .EAM_SF_buttonpg{
    font-size:16px;
    border-right:1px solid #a0a0a0;
    height:20px;
    display:inline-block;
    padding-right:5px;
}
.m_a_pub_btn{
    width: 88px;
    height:43px;
    margin-right: 8px;
    border:1px solid #D8D8D8;
    border-radius: 3px;
    background-color: #F5F5F5;
    font-size: 18px;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin: 0 10px;
}
.m_a_pub_control{
    height:45px;
    color: #9e9fa5;
    width: 96%;
    float:  left;
    margin-left: 4%;
}
.m_a_pub_pages{
    margin: 0 -10px;
    float:  left;
}
.m_a_pub_count{
    margin-left:5px;
}
.anniu{
	background: #498cfd;
	border: none;
	color: #fff;
	height: 42px;
	width: 42px;
	box-shadow: 0px 5px 12px #bababa;
	margin: 0 7px;
}
.EAM_SF_test{
    text-align: center;
    width: 3%;
    height:45px;
    font-family:"微软雅黑";
    font-size: 16px;
    float: left;
    border: 0;
    background: rgb(240,243,244);
    -webkit-appearance: none;
    margin-left: 9%;
}
.EAM_SF_cz{
    width: 2%;
    height:45px;
    font-family:"微软雅黑";
    font-size:14px;
    float: left;
    margin-left: 17%;
}
.file{
    width: 9%;
}
.EAM_SF_maxbody{
    width: 100%;
    margin: 0 auto;
}
.EAM_SF_behind{
    width: 45%;
    float: left;
}
.pic{
    width: 17%;
}